header {
    .home-logo {
        max-width: 100px;
    }
    .btn-header {
        background-color: $white;
        color: $solid-blue;
        padding: 15px;
        border-radius: 15px;
        margin: 10px 0;
    }
    .book-now {
        background-color: $solid-blue;
        .container {
            display: flex;
            justify-content: end;
        }
        
        p {
            color: white;
            font-family: Didot;
            margin-right: 20px;
            margin-top: 20px;
        }
        a {
            max-width: 190px;
        }
    }
    .header-info {
        display: flex;
        flex-direction: column;
        .header-name {
            font-family: koh santepheap;
            font-size: 44px;
            color: $solid-blue;
            margin: 22px 0 0;
            line-height: 44px;  
        }
        .header-mortgage-info {
            font-size: 22px !important;
            font-family: lato;
            color: $solid-blue;
            text-align: center;
            margin-bottom: 0;
            font-weight: bold;
        }
        .header-martel-info {
            text-align: center;
            color: $solid-blue;
            font-size: 18px;
        }
    }
    
    
   
}
.header-title-img {
    position: relative;
    display: flex;
    padding-top: 80px;
    padding-bottom: 53px;

    h1.header-title {
        margin-top: 70px !important;
        max-width: 817px;
    }
    .header-bold {
        font-weight: bold !important;
    }
    .lucas-burns-header-img {
        max-width: 503px;
    
    }
}
.martel-header-img {
    width: 100%;
}