header {
    .home-logo {
        max-width: 100px;
    }
    .book-now {
        background-color: $solid-blue;
        
        p {
            color: white;
            font-family: Didot;
            margin-right: 20px;
            margin-top: 10px;
        }
        a {
            max-width: 190px;
        }
    }
    .header-info {
        display: flex;
        flex-direction: column;
        .header-name {
            font-family: koh santepheap;
            font-size: 44px;
            color: $solid-blue;
            margin: 22px 0 0;
            line-height: 44px;  
        }
        .header-mortgage-info {
            font-size: 22px !important;
            font-family: lato;
            color: $solid-blue;
            text-align: center;
            margin-bottom: 0;
            font-weight: bold;
        }
        .header-martel-info {
            text-align: center;
            color: $solid-blue;
        }
    }
    
    
    .header-title-img {
        position: relative;
        display: block;
        padding-top: 170px;
        padding-bottom: 53px;
        h1 {
            margin-top: 70px !important;
        }
        .header-bold {
            font-weight: bold !important;
        }
        .lucas-burns-header-img {
            width: 80%;
            position: absolute;
            right: -230px;
            top: 0;
        }
    }
}
.martel-header-img {
    width: 100%;
}