.mortgage-calculator {
    padding: 80px 0;
    .calc {
        
        div:first-child {
            display: flex;
            div:last-child a {
                display: none;
            }
        }
        
    }
    .calc-info {
        margin-left: auto;
    }
}